@font-face {
  font-family: 'Heaven Matters';
  src: url('../../fonts/Heaven_Matters.ttf');
}

.inputDataForm {
  background-color: cornsilk;
}

.overlay {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 70% !important;
  height: 100%;
  z-index: 99999!important;
}

.infoMessage{
  color: red;
  padding-left: 30px;
}

.customBanner {
  background-image: url("https://images.unsplash.com/photo-1515934751635-c81c6bc9a2d8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 100%;
  height: 200px;
  padding-top: 50px;
}

.productName{
  font-family: "Heaven Matters";
  font-size: 28px;
}

.slogan{
  font-family: "Heaven Matters";
  font-size: 24px;
}

.logo{
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(191,147,28);
}

.mainTextPriority {
  color: rgb(191,147,28);
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 0px;
}

.bigTileHalls {
  background-color: white;
  width: 100%;
  border: 1px solid rgb(191,147,28);
  border-radius: 4px;
}

.bigTile {
  background-color: white;
  width: 47%;
  border: 1px solid rgb(191,147,28);
  border-radius: 4px;
  margin: 10px 4px;
  float: left;
}

.twoTileContainer{
  height: 240px;
  width: 100%;
}

.smallTile {
  background-color: cornsilk;
  text-align: center;
  width: 28%;
  margin: 5px;
  border: 1px solid rgb(191,147,28);
  border-radius: 4px;
}

.smallTileContainerHalls{
  height: 77px;
  width: 100%;
  padding: 20px 7px;
}

.smallTileContainer{
  width: 200%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}

form {
  margin: 20px 0px;
  font-family: Helvetica, sans-serif;
}

button {
  width: 100%;
  background-color: gold;
  color: white;
  padding: 14px 20px;
  margin: 8px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(191,147,28);
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number]{
  width: 50px;
  padding: 12px 7px;
  margin: 8px;
  display: inline-block;
  border: 1px solid rgb(191,147,28);
  border-radius: 4px;
  box-sizing: border-box;
}

button:hover {
  background-color: goldenrod;
}

button:disabled {
  background-color: gray;
}

